#game-container {
  border: 1px solid black;
  position: relative;
  margin-bottom: 10px;
}

.snake-part {
  width: 50px;
  height: 50px;
  background-color: green;
  position: absolute;
  z-index: 1;
}

.snake-head {
  background-color: orange;
  z-index: 2;
}

.apple {
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
}
